/* GPIO8 连接外部 LED，使用高电平点亮。 */
/ {
	chosen {
		/* ESP32-C3 USB Serial/JTAG：用于烧录后的启动日志输出。 */
		zephyr,console = &usb_serial;
	};

	aliases {
		led0 = &gpio8_led;
	};

	leds {
		compatible = "gpio-leds";

		gpio8_led: led_0 {
			label = "GPIO8 指示灯";
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		};
	};
};

&pinctrl {
	uart1_default: uart1_default {
		group1 {
			/* 业务串口 TX：ESP32C3 GPIO21 -> MCU RX。 */
			pinmux = <UART1_TX_GPIO21>;
			output-high;
		};

		group2 {
			/* 业务串口 RX：ESP32C3 GPIO20 <- MCU TX。 */
			pinmux = <UART1_RX_GPIO20>;
			bias-pull-up;
		};
	};
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};
